name: facial_recognition
description: A new Flutter project.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=2.21.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.3
  camera: ^0.10.5+5
  path_provider: ^2.0.6
  path: ^1.8.0

  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/Machine_Learning_Facial_Recognition_surveillance_soc.png